@import "file:////root/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-rc.23_markdown-it@14.0.0_vuepress@2.0.0-rc.7/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:////root/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-rc.23_markdown-it@14.0.0_vuepress@2.0.0-rc.7/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:////root/my-docs/src/.vuepress/styles/palette.scss";
@import "file:////root/my-docs/src/.vuepress/styles/config.scss";
@import "file:////root/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-rc.23_markdown-it@14.0.0_vuepress@2.0.0-rc.7/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
